<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <button class = 'btn-home' type="submit">Back Home</button>
    </form>
    <h2><u>What is musicwrap?</u></h2>
    <li>Musicwrap is a platform for sharing and organizing music.</li>
    <li>I made it as I thought sharing playlists would be more fun if they had greater customizability.</li>
    <br><br>
    <h2><u>How do I use musicwrap?</u></h2>
    <li>Go watch the tutorial. It will explain a lot and give you new ideas.</li>
    <br><br>
    <h2><u>I encountered a bug!</u></h2>
    <li>Yes, Musicwrap is a very new platform that I just made for fun, so there may be many bugs.</li>
    <h4>Known issues include:</h4>
    <li>Can't use albums.(Try turning album into playlist?)</li>
    <li>Naming is very restrictive, I know.</li>
    <li>You must add at least one playlist before adding a background works.</li>
    <li>You are unable to remove playlists after adding them. This is for sure an added functionality in the future.</li>
    <li>Error codes have a few bugs.</li>
    <li>+Likely more!</li>
    <br><br>
    <h2><u>I don't know what to make!</u></h2>
    <li>Try watching the demo for inspiration. This is a creative app, so keep trying until you make an enviornment that you want to share!</li>
    <br><br><br>
    <h3>Thanks for trying musicwrap, have fun!</h3>




    
</body>
</html>