<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicwrap | Builder</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

</head>
<style>
</style>

<body>
    <form width="336" height="69" action="/addPlaylist" method="post">
        <input type="text" placeholder="Playlist Link" name="playlist" required><br>
        <button type="submit" value="Add">Name</button>
    </form>
    
</body>
</html>